.formControl.error input,
.formControl.error textarea
{
  border: 3px red solid;
}

.formControl.error span {
  color: red;
}

.form-summary-error {
  border: 3px red solid;
  padding: 5px;
  color: red;
}