.friends {
  grid-area: c;
  background-color: burlywood;

  &__page {
    cursor: pointer;
    padding: 10px;
    &-selected {
      margin: 5px;
      font-size: large;
      font-weight: bold;
    }

    &-unselected {
      margin: 5px;
      color: gray;
    }
  }
}

.users {
  display: flex;
  flex-direction: row;
  height: auto;
  border: 1px solid black;
  margin: 10px;

  &__block {
    &-photo {
      height: 60px;
      width: 80px;
    }

    &-followButton {
      width: 80px;
    }
  }

  &__info {
    display: flex;
    width: 100%;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
  }
}

